<div class="btn-top">

  <a href="#/add" class="btn-add">
  +
  </a>
</div>
<div class="rows">
  <div class="row" ng-if="edit">
    <label>Total</label>
    <div class="input-group">
      <div class="input-group-addon">$</div>
      <input type="number" class="form-control" placeholder="Total" ng-model="bill.total">
    </div>
  </div>
  <div class="row" ng-repeat="person in bill.people">
    <div class="title">
      {{person.name}}
    </div>
    <div class="text">
      {{person.phone}}
    </div>
    <div class="right">
      $<span class="dollar-amount">{{person.pays}}</span>

      <button class="btn btn-default" ng-click="increase(person)">
        {{person.modifier}}x
      </button>
    </div>
  </div>
</div>
