<div class="bill-split">

  <h1>Welcome</h1>
  <error>{{error}}</error>
  <form role="form">
    <label>Email</label>
    <input type="email" class="form-control" placeholder="Email" ng-model="email">
    <span ng-if="isSignup">
      <label>Phone Number</label>
      <input type="tel" class="form-control" placeholder="Phone Number" ng-model="number">
    </span>
    <label>Password</label>
    <input type="password" class="form-control" placeholder="Password" ng-model="password">
    <span ng-if="isSignup">
      <button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="register()">Register</button><center> or </center><button class="btn btn-default btn-lg btn-block" ng-click="toggleLogin()">Login</button>
    </span>
    <span ng-if="isSignup == false">
      <button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="login()">Login</button><center> or </center><button class="btn btn-default btn-lg btn-block" ng-click="toggleLogin()">Register</button>
    </span>
  </form>

</div>

